.headerNav {
  line-height: 1em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin: 0 1em;
}

.container {
  width: 1200px;
}

.logoImg {
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 768px) {
  .logoImg {
    height: 60px;
    width: 60px;
  }
}